<header>

    <section class="about">
        <a id="home" href="/">
                <img id="logo" src="/images/logo.png">
                <div class="about-text">
                    <text id="go-to-hp">Itay Dreyfus</text>
                    <text id="logo-meta">Designer</text>
                    <text id="logo-meta">Tel Aviv, Israel</text>
                </div>
        </a>            
        </section>

        <section class="inner-section">
            <text id="intro-text">I work with startups to explore ideas, <br>build and launch meaningful products.</text></li>
            <text id="intro-text">Available in a limited capacity → <a id="external-link" href="mailto:itaydr@gmail.com" target="_blank">Inbox</a>.</text>
        </section>

        <section class="inner-section">
            <text id="sub-title">/now</text>
            <ul class="hp-bullets">
                <li id="li-hp"><text id="psb">Exploring new ideas and projects.</text></li>
            </ul>
        </section>

        <section class="inner-section">
            <text id="sub-title">/past</text>
            <ul class="hp-bullets">
                <li id="li-hp"><text id="psb">Designed wealth management at <a id="external-link" href="http://vyzer.co/" target="_blank">Vyzer</a>.</text></li>
                <li id="li-hp"><text id="psb">Led design and explored crypto at <a id="external-link" href="https://www.bancor.network/" target="_blank">Bancor</a>.</text></li>
                <li id="li-hp"><text id="psb">Attempted to launch a few startups.<br>Gone through a few mazes.</text></li>
            </ul>
        </section>

        <section class="inner-section">
            <text id='sub-title'>/socialize</text>
            <div class="social-links">
                <ul class="hp-bullets">
                    <li id="li-hp"><a id="external-link" href="mailto:itaydr@gmail.com" target="_blank">Email</a></li>
                    <li id="li-hp"><a id="external-link" href="https://twitter.com/itaydre" target="_blank">Twitter</a></li>
                    <li id="li-hp"><a id="external-link" href="https://www.are.na/itay-dreyfus" target="_blank">Are.na</a></li>
                    <li id="li-hp"><a id="external-link" href="https://www.linkedin.com/in/itay-dreyfus-64049316" target="_blank">Linkedin</a></li>
                </ul>
            </div>
        </section>
    
    
</header>