---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The digital space of Itay Dreyfus</title>
    <link rel="shortcut icon" type="image/png" href="./assets/images/logo.png">
    <link rel="stylesheet" href="https://use.typekit.net/qoy2cjt.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <style>
        @import url('https://rsms.me/inter/inter.css');
        html { font-family: 'Inter', sans-serif; }
        @supports (font-variation-settings: normal) {
        html { font-family: 'Inter var', sans-serif; }
        }
        @import url("https://use.typekit.net/uzv2zgr.css");
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173468170-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173468170-1');
</script>

</head>
<body>
    {% include intro.html %}
<div class="main">        
    <div class="log-and-image">
                    <div class="log">
                    <text id='sub-title'>/log</text>
                    <div class="posts">
                    {% for post in site.posts %}
                    <div id="post-hp">
                        <div class="hp-title-desc">
                                <a id="post-title-hp" href="{{ post.url }}">
                                <text id="post-title-hp">{{post.title}}</text></a>
                                <div class="post-desc">
                                    <text id="tag">{{ post.tags }}</text>
                                    <text id="date-time">{{ post.date | date: "%B %d, %Y" }}</text>
                                </div>        
                        </div>
                    </div>
                        {% endfor %}
                        <div class="external-blog">
                            <a id="post-title-hp" href="https://uxplanet.org/my-current-figma-vs-sketch-179c90e03c8d" target="_blank">How we used a Design Sprint to empower team collaboration and move faster &#8599;</a>
                            <br><text id="date-time">January 28, 2020</text>
                        </div>
                            <div class="external-blog">
                                <a id="post-title-hp" href="https://uxplanet.org/my-current-figma-vs-sketch-179c90e03c8d" target="_blank">My current Figma vs. Sketch &#8599;</a>
                                <br><text id="date-time">September 18, 2019</text>
                            </div>
                    </div>
                </div>

        <div class="workspace">
            <img id="workspace-img" src="assets/images/workspace.jpg">
            <text id="psb">WFH setup, September 2021</text>
        </div>
    </div>
</div>
</body>
</html>