<div class="intro"> 
    <div class="about">
                <a href= "./"><img id="logo" src="assets/images/logo.png"></a>
                <div class="about-text">
                    <text id="go-to-hp">Itay Dreyfus</text>
                    <text id="logo-meta">Designer</text>
                    <text id="logo-meta">Tel Aviv, Israel</text>
                </div>
        </div>
        <div class="now">
            <text id="intro-text">I work with startups to explore ideas, build and launch meaningful products.</text></li>
            <text id="intro-text">Available for a limited capacity → <a id="external-link" href="mailto:itaydr@gmail.com" target="_blank">Inbox</a>.</text>
        </div>
        
        <div class="socialize">
            <text id='sub-title'>/socialize</text>
            <div class="social-links">
                <ul class="hp-bullets">
                    <li id="li-hp"><a id="external-link" href="mailto:itaydr@gmail.com" target="_blank">Email</a></li>
                    <li id="li-hp"><a id="external-link" href="https://twitter.com/itaydre" target="_blank">Twitter</a></li>
                    <li id="li-hp"><a id="external-link" href="https://www.are.na/itay-dreyfus" target="_blank">Are.na</a></li>
                    <li id="li-hp"><a id="external-link" href="https://www.linkedin.com/in/itay-dreyfus-64049316" target="_blank">Linkedin</a></li>
                </ul>
            </div>
        </div>