   <div class="navigation">
    
    <section>
        <a href="/" id="go-to-hp">
            <img id="logo" src="assets/images/logo.png"><br>
            <text id="go-to-hp">Itay Dreyfus</text><br>
        </a>
            <text id="logo-meta">Designer</text><br>
            <text id="logo-meta">Tel Aviv, Israel</text>
        <div class="inner-about">
            <text>I'm helping startups to explore ideas, build and launch meaningful products.</text>
        </div>
    </section>
    <div class="social"></div>
        <text id='sub-title'>/socialize</text>
        <div class="social-links">
            <a id="external-link" href="https://twitter.com/itaydre" target="_blank">Twitter</a>
            <a id="external-link" href="https://www.are.na/itay-dreyfus" target="_blank">Are.na</a>
            <a id="external-link" href="https://futureland.tv/itay" target="_blank">Futureland</a>
            <a id="external-link" href="https://www.linkedin.com/in/itay-dreyfus-64049316" target="_blank">Linkedin</a>
        </div>
</div>