<nav>

<div class="navigation">
    <div class="header">
        <img id="logo" src="assets/images/logo.png"><br>
        <div class="logo-about">
            <a id='logo' href="/">Itay Dreyfus</a><br>
            <text>Designer</text><br>
            <text>Israel</text>
        </div>
    </div>
    
    <div class="social">
        <text id='socialize'>Socialize</text>
        <div class="social-links">
            <a id='social' href="https://twitter.com/itaydre" target="_blank">Twitter</a><br>
            <a id='social' href="https://www.are.na/itay-dreyfus" target="_blank">Are.na</a><br>
            <a id='social' href="https://www.linkedin.com/in/itay-dreyfus-64049316" target="_blank">Linkedin</a><br>
        </div>
    </div>
</div>
    
</nav>