<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        @import url('https://rsms.me/inter/inter.css');
        html { font-family: 'Inter', sans-serif; }
        @supports (font-variation-settings: normal) {
        html { font-family: 'Inter var', sans-serif; }
        }
    </style>
</head>

<body>
    <div class="main">
        {% include header.html %}
        <h1>{{ page.title }}</h1>
        <h2>Last updated at {{ "now" | date: "%u %b %Y"}}</h2>
        {{ content }}
    </div>
</body>